@model PaginatedList<DGMLD3.Data.Link>



@{ 
    var PlaceHolderValue = "";
    if (string.IsNullOrEmpty((string)ViewBag.PlaceHolderSearch))
    {
        PlaceHolderValue = "Enter your search";
    }
    else
    {
        PlaceHolderValue = ViewBag.PlaceHolderSearch;
    }

}
<h3>Links for Graph: @ViewBag.GraphName</h3>

<p>
    <a class="btn btn-primary" asp-controller="Graphs" asp-action="Index">Back To Graphs</a>
    <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="@ViewBag.GraphURL">View Graph</a>
</p>
<form asp-action="Index"  asp-route-currentGraphId="@ViewData["CurrentGraphId"]" method="post">
    <div class="form-actions no-color">
        <div class="form-group">
            <label for="SearchString">Search:</label>
            <input type="text" name="SearchString" class="form-control" value="@ViewData["SearchFilter"]" placeholder="@PlaceHolderValue"/>
        </div>
        <p>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a class="btn btn-primary" asp-action="Index" asp-route-currentGraphId="@ViewData["CurrentGraphId"]">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TargetSortParm"]" asp-route-currentGraphId="@ViewData["CurrentGraphId"]">Target</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SourceSortParm"]" asp-route-currentGraphId="@ViewData["CurrentGraphId"]">Source</a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.target)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.source)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentGraphId="@ViewData["CurrentGraphId"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentGraphId="@ViewData["CurrentGraphId"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>

