@model GraphTableViewModel
<link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
<h1>Your Graphs</h1>

<p>
    <a class="btn btn-primary" asp-controller="DGML" asp-action="Upload">Create New</a>
</p>
<form asp-action="Search" method="get">
    <div class="form-actions no-color">
        <div class="form-group">
            <label for="SearchString">Search:</label>
            <input type="text" name="SearchString" class="form-control" value="@Model.SearchString" />
        </div>
        <p>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table id="table"
       data-toggle="table"
       data-height="700"
       data-pagination="true"
       class="table">
    <thead>
        <tr>
            <th data-field="ReadableName" data-sortable="true">
                Name
            </th>
            <th data-field="DateCreated" data-sortable="true">
                Date Created
            </th>
            <th data-field="IsPublic" data-sortable="true">
                Is Public
            </th>
            <th data-field="">
                Link To Graph Links
            </th>
            <th data-field="GraphLinkURL">
                Link To Graph
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Graphs.Count(); i++)
        {
            <tr id="tr-id-@i" class="tr-class-@i" data-title="bootstrap table" data-object='{"key": "value"}'>
                <td id="td-id-@i" class="td-class-@i" data-title="bootstrap table">
                    @Html.DisplayFor(modelItem => Model.Graphs[i].ReadableName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => Model.Graphs[i].DateCreated)
                </th>
                <th>
                    @if (Model.Graphs[i].IsPublic)
                    {
                        <i class="fas fa-check fa-3x" style="color:green;"></i>
                    }
                    else
                    {
                        <i class="far fa-times-circle fa-3x" style="color:red;"></i>
                    }
                   
                </th>
                <th>
                    <a asp-controller="Links" asp-action="Index" asp-route-currentGraphId="@Model.Graphs[i].Id">Link to Graph Links</a>
                </th>
                <th>
                    <a target="_blank" rel="noopener noreferrer" href="@Model.Graphs[i].GraphLinkURL">View Graph</a>
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Graphs[i].Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Graphs[i].Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Graphs[i].Id">Delete</a> 
                </td>
            </tr>
        }

    </tbody>
</table>
@section Scripts{

    <script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
    <script>
        $(function () {
            $('#table').bootstrapTable()
        })
    </script>
}